---
import Layout from '../../layouts/Layout.astro';
import Movies from '../../components/movies/index';
import { Typography } from '@mui/material';

export const prerender = false;

if (import.meta.env.PROD) {
  // Revalidation every 120 second.
  Astro.locals.runtime.setBuildersTtl(120);
}

const data = await fetch("https://swapi-graphql.netlify.app/.netlify/functions/index", {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({
    query: `
      query Query {
        allFilms {
          films {
            id
            title
            director
            releaseDate
            speciesConnection {
              species {
                name
                classification
                homeworld {
                  name
                }
              }
            }
            producers
            episodeID
            edited
            created
          }
          totalCount
        }
      }
    `
  })
});


const movies = await data.json();

if (movies.errors) {
  return Astro.redirect("/404");

}

---

<Layout title="Welcome to Astro.">
	<main>
    <Typography variant="h4" my={4}>SSR</Typography>
    <Typography variant="body2" my={4}>{`Build was done: ${new Date()}`}</Typography>
    <Movies moviesData={movies} />
	</main>
</Layout>
