---
import Layout from '../../layouts/Layout.astro';
import Movie from '../../components/movie/index';

const { movieId } = Astro.params;

export async function getStaticPaths() {
  const data = await fetch("https://swapi-graphql.netlify.app/.netlify/functions/index", {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      query: `
        query Query {
          allFilms {
            films {
              created
              director
              edited
              id
              openingCrawl
              producers
              releaseDate
              title
              characterConnection {
                characters {
                  birthYear
                  created
                  edited
                  eyeColor
                  gender
                  hairColor
                  height
                  mass
                  name
                  skinColor
                  homeworld {
                    name
                  }
                }
              }
            }
          }
        }
      `
    })
  });

  const json = await data.json();

  return json.data.allFilms.films.map((film: any) => ({
    params: { movieId: film.id },
    props: { movieData: film }
  }))
}

const { movieData } = Astro.props;
console.log('movieData', movieData)

---

<Layout title="Welcome to Astro.">
	<main>
    <Movie movieData={movieData} />
	</main>
</Layout>
