---
import Layout from '../../layouts/Layout.astro';
import Movie from '../../components/movie/index';

const { movieId } = Astro.params;

console.log('movieId', movieId)



export async function getStaticPaths() {
  const data = await fetch("https://swapi-graphql.netlify.app/.netlify/functions/index", {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      query: `
        query Query {
          allFilms {
            films {
              id 
            }
          }
        }
      `
    })
  });

  const json = await data.json();

  console.log("yepp", json.data.allFilms.films.map((film) => ({
    params: { movieId: film.id }
  })))

  return json.data.allFilms.films.map((film) => ({
    params: { movieId: film.id }
  }))
}

const data = await fetch("https://swapi-graphql.netlify.app/.netlify/functions/index", {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({
    query: `
      query Query($filmId: ID) {
        film(id: $filmId) {
          created
          director
          edited
          id
          openingCrawl
          producers
          releaseDate
          title
          characterConnection {
            characters {
              birthYear
              created
              edited
              eyeColor
              gender
              hairColor
              height
              mass
              name
              skinColor
              homeworld {
                name
              }
            }
          }
        }
      }
    `,
    variables: {
      filmId: movieId
    },
  })
});

// console.log('data', data)
const movieData = await data.json();

console.log('Movie', movieData)


---

<Layout title="Welcome to Astro.">
	<main>
    <Movie movieData={movieData} client:only="react" />
	</main>
</Layout>
