---
import { Box, Typography } from '@mui/material';
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
    <Box textAlign={"center"} my={20}>
      <Typography variant="h2">
        404 not found
      </Typography>
    </Box>
	</main>
</Layout>
